.env
.env.*
.venv/
.venv-deploy/

.git/
.idea/
.vscode/
.pytest_cache/
.ipynb_checkpoints/

__pycache__/
*.py[cod]

src/model/
src/source_data/*
!src/source_data/visa_requirements.json
src/eval/
test/
utils/

config/firebase-service-account.json
